@import "partials/typography.scss";
@import "partials/layout.scss";
@import "partials/stars.scss";
@import 'partials/animation';
@import "normalize.css";


body {
  background-color: #19191a;
}
.page-wrapper {
  padding: 20px;
  text-align: left;
  max-width: 64rem;
  margin: 0 auto;
  margin-bottom: 20px;
}

li a {
  text-decoration: none;
  color: $white;
}

li {
  list-style-type: none;
}

.sidebar li {
  line-height: 1.5em;
  padding-top: 5px;
  margin-bottom: 5px;
}

.sidebar li a:first-of-type {
  font-size: 1.21em;
  text-transform: uppercase;

  color: $white;
}

.sidebar .designer-name {
  color: #cecece;
}

.sidebar li a:hover {
  text-decoration: underline;
}

footer a {
  color: #cecece;
  text-decoration: none;
  padding-right: 20px;
}
footer a:hover {
  color: $white;
  text-decoration: underline;
}

.summary, .preamble, .explanation, .participation, .benefits, .requirements {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {

  body {
    background-color: #000;
    background-image: url("stars.jpg");
    background-attachment: fixed;
    background-position: top;
    background-repeat: repeat-x;
    background-size: auto;
  }
  .page-wrapper {
    background-color: #19191a;
    margin-top: 250px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;

  }
  section {
    grid-column: 1 / 4;
  }

  section::before {
    content: url("worldwide.png");
      background-repeat: no-repeat;
      background-position: right top;
      position: relative;
      float: right;
      margin-right: -287px;
      top: 35px;
  }
  section::after {
    content: url("startup.png");
      background-repeat: no-repeat;
      background-position: right top;
      position: relative;
      float: right;
      margin-right: -313px;
      top: -158px;
  }
  div .main{
    grid-row: 3 / 4;
    // grid-column: 1 / 4;
    grid-column: 3 / 6;
  }
  div .main::before {
    content: url("worldwide.png");
      background-repeat: no-repeat;
      background-position: right top;
      position: relative;
      float: left;
      top: 35px;
      margin-left: -305px;
  }

  aside {
    grid-column: 1 / 6;
    grid-row: 2 / 3;
  }
  .wrapper {
    display: flex;
    flex-direction: row;
  }
  aside {
    background-image: url("stars.jpg");
    width: 100%;

  }
  aside h3 {
    margin-left: 139px;
    font-size: 1.5rem;
  }
  aside .zen-resources h3 {
    margin-left: 38px;
  }
  aside .zen-resources h3::after {
    content: url("worldwide.png");
      background-repeat: no-repeat;
      background-position: right top;
      position: relative;
      left: 30px;
      top: 22px;
  }
  aside nav {
    margin-left: 100px;
  }
  aside nav::before {
    content: url("worldwide.png");
      background-repeat: no-repeat;
      background-position: right top;
      position: relative;
      left: 50px;
  }

  aside .zen-resources ul {
    margin-top: 40px;
  }
  
}
