/* --------------------------------

xTypography

-------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab");
@import url(normalize.css);
h1, h2, h3 {
  font-family: "Roboto Slab", serif; }

h1 {
  font-size: 4.4rem;
  font-weight: 300;
  line-height: 1.2;
  margin: 0 0 .4em;
  color: #fff; }

h2, h3 {
  font-size: 2rem; }

h2, h3 {
  margin: 1em 0 0 0;
  color: #e6e6e6; }

p {
  font-size: 1rem;
  line-height: 1.4;
  color: #fff;
  font-family: "Roboto", sans-serif;
  margin: 12px 0; }
  p a {
    color: #fff;
    text-decoration: underline; }
  p a:hover {
    font-weight: bold;
    color: #e6e6e6; }
  p .contentinfo {
    font-size: 2.4rem; }

nav {
  font-family: "Roboto", sans-serif;
  color: #e6e6e6; }
  nav a {
    color: #fff; }
  nav a:hover {
    font-weight: bold; }

@keyframes animStar {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(-200vh); } }
body {
  background-color: #19191a; }

.page-wrapper {
  padding: 20px;
  text-align: left;
  max-width: 64rem;
  margin: 0 auto;
  margin-bottom: 20px; }

li a {
  text-decoration: none;
  color: #fff; }

li {
  list-style-type: none; }

.sidebar {
  padding: 20px 0; }

.sidebar li {
  line-height: 1.5em;
  padding-top: 5px;
  margin-bottom: 5px; }

.sidebar li a:first-of-type {
  font-size: 1rem;
  color: #fff; }

.sidebar h3 {
  font-size: 1.5rem; }

.sidebar .designer-name {
  color: #cecece; }

.sidebar li a:hover {
  text-decoration: underline; }

footer a {
  color: #cecece;
  text-decoration: none;
  padding-right: 20px; }

footer a:hover {
  color: #fff;
  text-decoration: underline; }

.summary, .preamble, .explanation, .participation, .benefits, .requirements {
  display: flex;
  align-items: flex-start;
  flex-direction: column; }

@media only screen and (min-width: 960px) {
  html::after {
    background: url("SVG/bigstars-01.svg") repeat top center;
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1000vh;
    width: 100%;
    z-index: 1;
    animation: animStar 150s linear infinite;
    -webkit-transform: translateZ(-999px) scale(2); }

  html::before {
    background: url("SVG/smallstars-02.svg") repeat top center;
    content: " ";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1000vh;
    width: 100%;
    z-index: 1;
    animation: animStar 300s linear infinite;
    -webkit-transform: translateZ(-999px) scale(2); }

  body {
    background-color: #000; }

  .page-wrapper {
    background-color: #19191a;
    margin-top: 250px;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 22% 15% 63%; }

  .page-wrapper::before {
    content: url("SVG/satellite.svg");
    width: 15%;
    height: auto;
    position: relative;
    top: -150px;
    grid-column: 1 / 6;
    grid-row: 1 / 3;
    animation: 10s infinite alternate slidein, 15s infinite linear rotation; }

  @keyframes slidein {
    from {
      margin-left: 80%;
      width: 15%; }
    to {
      margin-left: 0%;
      width: 15%; } }
  @keyframes rotation {
    50% {
      transform: rotate(360deg); }
    100% {
      transform: rotate(360deg); } }
  section {
    grid-column: 2 / 5;
    grid-row: 1 / 2;
    padding-bottom: 30px; }

  div .main {
    grid-row: 3 / 4;
    grid-column: 2 / 5; }

  .explanation::before {
    content: url("SVG/planet.svg");
    width: 15%;
    margin: 0px 60px;
    height: auto;
    position: relative;
    top: 181px;
    margin-left: -160px;
    animation: rotation 60s infinite linear, nudge 5s linear infinite alternate; }

  @keyframes rotation {
    50% {
      transform: rotate(360deg); }
    100% {
      transform: rotate(0deg); } }
  @keyframes nudge {
    0%, 100% {
      transform: translate(0, 0); }
    50% {
      transform: translate(0, 25px); }
    80% {
      transform: translate(0, 50px); } }
  .explanation {
    margin-top: -100px; }

  .benefits {
    margin-top: -129px; }

  .participation {
    margin-top: -40px; }

  .requirements {
    margin-top: -197px; }

  aside {
    grid-column: 1 / 6;
    grid-row: 2 / 3; }

  .wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center; }

  aside .zen-resources, .design-archives, .zen-resources {
    padding: 0 20px; }

  aside .zen-resources ul {
    padding-left: 0; }

  aside nav ul {
    padding-left: 0; }

  .participation::before {
    content: url("SVG/ufo.svg");
    width: 15%;
    height: auto;
    position: relative;
    top: 238px;
    left: 628px;
    animation: nudge 5s linear infinite alternate;
    border-radius: 100%; }

  @keyframes nudge {
    0%, 100% {
      transform: translate(0, 0); }
    50% {
      transform: translate(0, 25px); }
    80% {
      transform: translate(0, 50px); } }
  .benefits::before {
    content: url("SVG/comets.svg");
    width: 16%;
    margin: 0px -160px 0px 60px;
    top: 169px;
    margin-left: -160px;
    animation: nudge1 5s linear infinite alternate;
    position: relative; }

  @keyframes nudge1 {
    0%, 100% {
      transform: translate(0, 0); }
    50% {
      transform: translate(0, 25px); }
    80% {
      transform: translate(0, 50px); } }
  .benefits::after {
    content: url("SVG/comet2.svg");
    position: relative;
    margin: 0px;
    top: -113px;
    margin-left: -110px;
    width: 10%;
    animation: nudge2 3s linear infinite alternate; }

  @keyframes nudge2 {
    0%, 100% {
      transform: translate(0, 0); }
    50% {
      transform: translate(0, 35px); }
    80% {
      transform: translate(0, 60px); } }
  .requirements::before {
    content: url("SVG/constellation.svg");
    width: 20%;
    height: auto;
    position: relative;
    top: 415px;
    left: 628px;
    width: 20%;
    margin: 30px;
    animation: rotation 5s infinite linear; }

  @keyframes nudge {
    0%, 100% {
      transform: translate(0, 0); }
    50% {
      transform: translate(0, 50px); }
    80% {
      transform: translate(0, 100px); } }
  @keyframes rotation {
    50% {
      transform: rotate(10deg); }
    100% {
      transform: rotate(0deg); } } }

/*# sourceMappingURL=style.css.map */
